.ratings-reviews {
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.ratings-reviews.css-0 {
    width: 100% !important;
}
.filter-buttons.css-0 {
    width: 100% !important;
}
.reviews-tags.css-0 {
    width: 100% !important;
}
.reviews-list.css-0 {
    width: 100% !important;
}
.review.css-0 {
    width: 100% !important;
}
.review-header.css-0 {
    width: 100% !important;
}
.review-footer.css-0 {
    width: 100% !important;
}

.ratings-summary .ratings-summary-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.ratings-summary .ratings-summary-details>* {
    margin-right: 10px;
}
.ratings-summary .ratings-summary-details h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 0rem;
}

.ratings-breakdown {
    margin-bottom: 20px;
}

.rating-row {
    display: flex;
    align-items: center;
}

.rating-bar {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    margin: 0 10px;
    position: relative;
}

.rating-fill {
    height: 100%;
    background-color: #ffc107;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 1rem;
}

.reviews-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.reviews-list {
    margin-bottom: 20px;
}

.review {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-header>* {
    margin-right: 10px;
}

.review-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.review-actions {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .review-footer {
        display: block;
        padding-top: 10px;
    }
    .review-footer .css-e784if-MuiTypography-root {
        padding-top: 5px;
        display: block;
    }
}