body {
    background-color: #f7f7f7;
}

.card-box .MuiPaper-root {
    border-radius: 0% !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important
}
.card-box .MuiPaper-root:hover {
    border: 1px solid #b62026;
}

.card-box .css-1qw96cp {
    padding: 0px !important;
    width: 100% !important;
    margin-top: .5rem !important;
    font-size: .8rem !important;
    color: #333 !important;
}

.card-box .css-s18byi {
    background-color: #fff !important;
    box-shadow: rgba(6, 6, 7, 0.2) 0px 7px 29px 0px !important;
    border-radius: 0% !important;
}

.card-box .card-img {
    position: relative;
}

.card-box .card-img svg {
    position: absolute;
    top: -6%;
    right: -2%;
    color: #666;
    font-size: 2rem;
    background-color: #fff;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.card-box .css-bhp9pd-MuiPaper-root-MuiCard-root {
    border-radius: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.card-box .css-1lt5qva-MuiCardContent-root {
    padding: 0% !important;
    margin: .5rem 0;
    font-size: .9rem;
}

.card-box .badge-save,
.card-box .badge-new {
    border-radius: 0%;
}
.card-box .badge-save {
    position: absolute;
    left: 0%;
    top: 0%;
}
.card-box .badge-new {
    position: absolute;
    left: 0%;
    top: 15%;
}
.card-box .badge-save em,
.card-box .badge-new em {
    font-size: .8rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: .3rem .5rem;
    display: inline-block;
}

.card-box p {
    font-size: 1rem;
    margin-top: 0.8rem;
    color: #111 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-box h6 {
    color: #b20107;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.card-box del,
.card-box small {
    color: #aaa;
    font-size: 0.7rem;
}

.card-box .rating small {
    margin-top: .5rem;
}

.card-box span {
    font-size: 0.9rem;
}

.card-box .btn-cart:hover {
    border-color: #b62026 !important;
}

/* Swiper Pagination */
.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 60px !important;
    width: 40px !important;
    background-color: #b62026;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -1.5rem !important;
    transition:h all .3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #b20107 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    color: #fff;
    font-size: 15px !important;
    padding: 15px 100px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: #fff !important;
}


@media (max-width: 1400px) {
    .card-box .MuiPaper-root {
        border-radius: 0% !important;
        box-shadow: none !important;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .product-list {
        width: 350px !important;
    }
}