/* 
####################################
Carousel Dots Styling
####################################
*/
.carousel-slider-img img {
    height: auto;
    object-fit: cover;
}
.carousel .control-dots .dot {
    width: 10px !important;
    height: 10px !important;
    margin: 0 .3rem;
    border-radius: 50%;
}
.carousel .control-dots .dot.selected {
    box-shadow: none !important;
    background-color: red !important;
}

@media (max-width: 650px) {
    .carousel-slider-img img {
        height: 400px;
        object-fit: cover;
    }
}