/* Profile Tabs Color Change */
.profile-tabs .css-1usuzwp-MuiButtonBase-root-MuiTab-root {
    text-transform: capitalize;
    margin: auto;
    padding: 0% !important;
}
.profile-tabs .css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #b62026 !important;
    text-transform: capitalize;
}
.profile-tabs .css-oewvya-MuiTabs-indicator {
    display: none !important;
}