/* Profile Tabs Color Change */
.profile-tabs button[aria-selected = "true"],
.profile-tabs button[aria-selected = "false"] {
    text-transform: capitalize;
    margin: auto;
    padding: 0% !important;
}
.profile-tabs button[aria-selected = "true"] {
    color: #b62026 !important;
    text-transform: capitalize;
}
.profile-tabs span.MuiTabs-indicator {
    display: none !important;
}